{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p>por {{ object.author }} | {{ object.date }}</p>
        <p>{{ object.body }}</p>
    </div>
    <hr>
    <h4>Commentários</h4>
    {% for comment in article.comment_set.all %}
        <p>{{ comment.author }} &middot; {{ comment }}</p>
    {% endfor %}
    <hr>

    <!-- Changes start here! -->
    <h4>Adicione um Comentário</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Salvar</button>
    </form>
    <!-- Changes end here! -->

    <p><a href="{% url 'article_edit' article.pk %}">Editar</a> |
    <a href="{% url 'article_delete' article.pk %}">Deletar</a></p>
    <p>Voltar para <a href="{% url 'article_list' %}">todos os Artigos</a>.</p>
{% endblock content %}
